# This file configures the API server to include the provided authentication
# service in the authentication plugin chain as a webhook. This file has to be
# specified in the --authentication-token-webhook-config-file flag of the API server.
apiVersion: v1
kind: Config
clusters:
  - name: my-auth
    cluster:
      # TODO: test if "insecure-skip-tls-verify: true" works so that the authentication
      # service certificate can just be a "dummy" that doesn't need to be verified.
      # => Works
      insecure-skip-tls-verify: true
      server: https://34.65.126.236
users:
  - name: apiserver
    # TODO: what to put here? It would be good if we could put no certificate
    # at all, so that the auth service doesn't need to handle the API server certificate
    # => I put the API server certificates (/etc/kubernetes/pki/apiserver.{crt|key}) and it works.
    #    However, try if it works if I put something else (I think you have to put something, it can't be {})
    user: {}
      # client-certificate: cert.pem # cert for the webhook plugin to use
      # client-key: key.pem          # key matching the cert
current-context: my-auth
contexts:
- context:
    cluster: my-auth
    user: apiserver
  name: my-auth
