apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
networking:
  podSubnet: 200.200.0.0/16
apiServer:
  certSANs:
    - 34.65.126.236
  extraArgs:
    # Problem: apiserver crashes with the following error:
    # Error: invalid authentication config: stat /root/auth.config: no such file or directory
    authentication-token-webhook-config-file: /etc/authn.config
  extraVolumes:
    - name: authentication-webhook-config
      hostPath: /root/authn.config
      mountPath: /etc/authn.config
